.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .filter_bubble_container{
        display: flex;
        text-align: center;
        align-items: center;
        gap: 10px;

        .filter_bubble_active{
            cursor: pointer;
            background-color: #282828;
            color: #fff;
            padding: 15px;
            border-radius: 30px;
            min-width: 85px;
            font-weight: bold;
        }

        .filter_bubble{
            cursor: pointer;
            background-color: #F9F9F9;
            color: #2C2C2C;
            padding: 15px;
            border-radius: 30px;
            min-width: 85px;
            font-weight: bold;
        }
    }

    .sort_by{
        display: flex;
        cursor: pointer;

        img{
            margin-right: 7px;
        }

        p{  
            font-weight: bold;
            color: #2C2C2C;
    
            span{
                cursor: pointer;
                font-weight: 400;
                color: var(--pizza-Color);
                border-bottom: 1px dashed var(--pizza-Color);
            }
    }

    .PopUp{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: space-between;
        min-width: 132px;
        min-height: 136px;
        background-color: #ffffff;
        box-shadow: 3px 3px 19px 2px #d6d3d389;
        position: absolute;
        border-radius: 10px;
        margin-top: 40px;
        margin-left: 120px;
        z-index: 100;
        align-items: center;
        font-size: 14px;
    
        span, .active{
            cursor: pointer;
            display: flex;
            align-items: center;
            height: 50px;
            width: 100%;
            padding-left: 13px;
            padding-right: 13px;
        }
        .active{
            background-color: #FFF7F3;
            color: var(--pizza-Color);
            font-weight: bold;
        }
        
    }
    
    }
}

h1{
    margin-top: 32px;
    margin-bottom: 35px;
}