.header{
    display: flex;
    padding: 52px 72px 40px 72px;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;

    .logo_pizza{
        display: flex;

        .text_logo{
            padding-left: 17px;     
            
            p{
                opacity: 0.5;
            }
        }
        
    }

    .basket{
        display: flex;
        justify-content: space-between;
        padding: 25px 25px 25px 25px;
        align-items: center;
        width: 140px;
        height: 50px;
        background-color: var(--pizza-Color);
        border-radius: 50px;
        color: #ffffff;
    }
}